.nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #032b43;
    width: 5%;
    min-height: 100vh;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30px;
    max-height: 100vh;
    min-width: 120px;
    left: 0;
    z-index: 99999999;
}

.sideNavigation {
    padding: 10% 2%;
    display: flex;
    font-size: 0.7rem;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(25%);
    width: 100%;
    overflow: hidden;
}

.button-update{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    height: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #032b43;
    color: #032b43;

}

.sideNavigation a {
    text-decoration: none;
    color: aliceblue;
    width: 70%;
    padding: 5% 10% 5%;
    margin-top: 1%;
    transition: .3s;
    position: relative;
    cursor: pointer;
    display: flex;
}

.sideNavigation a:hover {
    transform: scale(1.2);
    background-color: #168b7c;
}

.sideNavigation a:hover~a:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
}

.sideNavigation a:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.sideNavigation a:after {
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
}

.profile-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.profile-section button {
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: none;
    border: none;
    padding: 5% 5% 5%;
    background-color: #06314b;
    color: aliceblue;
    transition: .2s;
}

.profile-section button:hover {
    background-color: #168b7c;
}

.profile-top-section {
    background: #168b7c;
    font-size: 0.7em;
    color: aliceblue;
    text-align: center;
    border-top-right-radius: 10px;
    word-wrap: break-word;
}

.nav-link p {
    padding: 0 5% 0;
}

.nav-subpage {
    display: flex;
    width: 10%;
    justify-content: flex-end;
    padding: 10% 0% 5%;
    position: fixed;
    right: 0;
    margin-right: 5%;
}

.nav-subpage a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

.sub-border {
    border-bottom: #168b7b67;
    border-width: 0.12em;
    border-bottom-style: solid;
}

.mobile-navigation {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .mobile-navigation {
        display: none;
        background-color: #032b43;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .burger-icon {
        font-size: 2em !important;
        padding: 2%;
        color: #032b43;
    }

    .mobile-navigation a {
        color: aliceblue;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2% 2% 2%;
        margin: 0;
        border-bottom: solid;
        border-color: rgba(240, 248, 255, 0.075);
        width: 100%;
        border-width: 1px;
        text-decoration: none;
    }

    .mobile-navigation a p {
        margin: 0;

    }

    .html-content-wrap {
     
    
        p {
          width: 100%!important;
          font-size: 0.8em;
          margin: 0;
        }
      }

    .nav,
    .sideNavigation-subpage {
        display: none;
    }

    .sign-out {
        height: 20px !important;
        min-height: 10px !important;
        padding: 2% 0% 5% !important;
    }

    .profile-top-section {
        display: none;
    }

    .frontpage-grid {
        padding: 0 !important;
        min-width: 100px !important;
        width: 100% !important;
    }

    h1 {
        font-size: 2em !important;
    }

    .frontpage-content {
        margin: 0 !important;
        transform: translate(0%, 0%) !important;
        justify-content: center !important;
    }

    .frontpage-right,
    img {
        width: 100% !important;
    }

    .component-overview {
        transform: translate(0%, 0%) !important;
    }

    .form {
        padding: 2%;
    }

    .MuiBox-root {
        width: 70% !important;
    }

    .html-content-wrap,
    p {
        padding: 2%;
    }

    textarea {
        height: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .nav {
        display: flex;
    }
}